<html>
<head>
    <title>List of contacts</title>
</head>
<body>
    <h1>List of contacts</h1>

    {% if contacts is not empty %}
        <p>Here are all your contacts:</p>
        <ul>
            {% for contact in contacts %}
                <li>{{ contact.getDescription }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/contacts' method='post'>
        <label for='description'>Contact Description</label>
        <input id='description' name='description' type='text'>

        <button type='submit'>Add contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>
</body>
</html>
